/********GERAL*******/
:root {
    --cor-principal: gray;
    --cor-mensagens: ;
}

/*******CHAT*******/
.historico{
    border: 1px solid black;
    width: 817px;
    height: 664px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}


.header{
    background-color: var(--cor-principal);
    width: 817px;
    height: 68px;
    display: flex;

}

.titulo{
    display: flex;
    font-size: 30px;
    align-self: center;
    margin-left: 7px;
}

.caixa-mensagem{
    width: 609px;
    height: 170px;
    border: 1px solid black;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor-principal);
}



textarea{
    width: 500px;
    height: 150px;
    display: flex;
    margin-left: 5px;
    border: 1px solid black;
}

.btm-texto{
    display: flex;
    align-self: flex-start;
    margin-top: 6px;
    background-color: rgb(89, 89, 122);
    color: whitesmoke;
    border-radius: 10%;
    padding: 7px;
}

.mensagem-enviada{
    display: flex;
    width: 600px;
    flex-direction: column;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-end;
    padding: 10px;

}

